body {
    padding: 0;
    margin: 0;
}

/* HEADER STYLE */
.header {
    background-color: #1C6EAF;
    display: block;
    height: 10vh;
}
.header img {
    height: 10vh;
    width: 10vw;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.header div {
    display: block;
    position: absolute;
    height: 10vh;
    top: 0;
    right: 0;
    width: 88vw;
    margin: 0;
    padding:0;
}
.header div a {
    display: block;
    float: left;
    height: 8vh;
    width: 16vw;
    text-align: center;
    margin: 1vh;
    padding: 0;
    font-size: 1.5em;
    font-family: monospace;
    font-weight: 600;
    color: #000000;
}
.header div a p {
    margin-top: 2.4vh;
}
.header div a:hover {
    background-color: #1F868E;
    color: #CDC6AE;
    text-decoration: underline;
}
#current {
    background-color: #A3B4A2;
    color: #38686A;
    text-decoration: none;
}

/* GENERAL CONTENT STYLE */
.content {
    background-color: #DEFCFF;
    height: 90vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.section {
    background-color: #B8D4D8;
    padding: 2vh 1vw 2vh 1vw;
    margin: 2vh 1vw 2vh 1vw;
    width: 96vw;
    height: fit-content;
    overflow: auto;
    border-radius: 2vh;
    color: #16697A;
}
.no-background {
    background: none;
}
a {
    text-decoration: none;
}
.one {
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0 2vw 2vh 2vw;
    display: block;
}
.two {
    width: 50%;
    margin: 0 auto 0 auto;
    padding: 0;
    display: block;
    float: left;
}
.three {
    width: 33.33%;
    margin: 0 auto 0 auto;
    padding: 0;
    display: block;
    float: left;
}
.titel {
    height: 4.5vh;
    padding: 0 0 1vh 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 140%;
}

/* INDEX CONTENT */
#idea, #problem {
    color: #FDF7F3;
    background-color: #FFA62B;
    text-shadow: 3px 3px 4px #085F85;
    text-align: center;
    text-decoration: underline 0.5;
    display: block;
    padding: 0;
    margin: 0 auto 0 auto;
    width: 80%;
    height: 10vh;
    border: 0.5vh solid #489FB5;
}
#idea:hover, #problem:hover {
    background-color: #F6C787;
    color: #16697A;
    text-decoration: underline;
    text-shadow: 3px 3px 4px #F6C787;
    border-color: #FFA62B;
}
#idea p, #problem p {
    margin: 0;
    padding: 3vh 0 0 0;
    font-family: sans-serif;
    font-size: 160%;
}
#first p, #second p, #third p {
    padding: 0 3vh 0 3vh;
    margin: 1.2vh;
    text-align: center;
    color: #B8D4D8;
    font-family: sans-serif;
}
#first, #second, #third {
    background-color: #1C6EAF;
    /*border: 2px #1E6E99 ridge;*/
    box-sizing: border-box;
    border-radius: 1.5vh;
    width: 26vw;
    height: 25vh;
    margin: 0 3vw 0 3vw;
}
#first:hover , #second:hover , #third:hover {
    text-decoration: underline;
    color: #B8D4D8;
    background-color: #004E8F;
}
.winner {
    width: 95vw;
    margin: 0 auto 0 auto;
    height: 40vh;
}
.winner p {
    text-align: center;
    font-size: 140%;
    margin: 0;
    padding: 1vh 3vw 1vh 3vw;
    width: 50vw;
    display: block;
    float: left;
    text-decoration: underline #ffd700;
}
#monthly-image {
    width: 40vw;
    height: 30vh;
    display: block;
    object-fit: contain;
    float: right;
    margin: 0;
    padding: 0;
}
#monthly-title {
    margin-top: 0;
}

/* FORM CONTENT */
.form-title {
    font-weight: bold;
    display: block;
    margin-bottom: 1vh;
    font-size: 150%;
    font-family: serif;
}
.form-field {
    width: 100%;
    font-size: 150%;
}
#form-field-long {
    height: 20vh;
}
.form-sumbit>input {
    width: 20vw;
    height: 5vh;
}
.form-sumbit>input:hover {
    text-decoration: underline;
}

/* OTHER CONTENT */
#mild-title {
    font-weight: 600;
    font-size: 120%;
    font-family: sans-serif;
}
#video {
    width: 45vw;
    height: auto;
    display: block;
    float: right;
    margin: 0 auto 0 auto;
}
#video-title {
    font-weight: bolder;
    font-size: 120%;
    float: left;
    width: 45vw;
}
#chart {
    text-align: center;
}
#chart>p {
    margin: 1vh auto;
}
.discussion>p, .discussion>div>p {
    margin: 0;
}
.discussion>h3, .discussion>div>h4 {
    margin-bottom: 0;
}
.discussion>div>h4 {
    margin-top: 1vh;
}
.overview-list>img {
    height: 30vh;
    width: 20vw;
    object-fit: cover;
    display: block;
    float: left;
    margin-right: 2vw;
    border-radius: 1vw;
}
.overview-list>ul>li {
    list-style: none;
    margin: 1.3vh;
}
.overview-list>ul>li>a {
    font-family: sans-serif;
    color: #000000;
    padding: 0.5vh;
}
.overview-list>ul>li>a:hover {
    background-color: #1F868E;
    color: #CDC6AE;
}

/* MOBILE ADAPTION
@media only screen and (max-width: 600px){
    .header {
        height: 15vh;
    }
}

 */