body {
    padding: 0;
    margin: 0;
}

/* HEADER STYLE */
.header {
    background-color: #1E6E99;
    display: block;
    height: 10vh;
}
.header img {
    height: 10vh;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}
.header div {
    display: block;
    position: absolute;
    height: 10vh;
    top: 0;
    right: 0;
    width: 82vw;
    margin: 0;
    padding:0;
}
.header div a {
    display: inline-block;
    height: 8vh;
    width: 14vw;
    text-align: center;
    margin: 1vh;
    padding: 0;
    font-family: monospace;
    color: #000000;
}
.header div a p {
    padding-top: 1.2vh;
}
.header div a:hover {
    background-color: #187795;
    color: #CDC6AE;
    text-decoration: underline;
}
#current {
    background-color: #A3B4A2;
    color: #38686A;
    text-decoration: none;
}

/* GENERAL CONTENT STYLE */
.content {
    background-color: #EDE7E3;
    height: 90vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.section {
    background-color: #B8D4D8;
    padding: 2vh 1vw 2vh 1vw;
    margin: 2vh 1vw 2vh 1vw;
    width: 96vw;
    height: fit-content;
    overflow: auto;
    border-radius: 2vh;
    color: #16697A;
}
.no-background {
    background: none;
}
a {
    text-decoration: none;
}
.one {
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0 2vw 2vh 2vw;
    display: block;
}
.two {
    width: 50%;
    margin: 0 auto 0 auto;
    padding: 0;
    display: block;
    float: left;
}
.three {
    width: 33.33%;
    margin: 0 auto 0 auto;
    padding: 0;
    display: block;
    float: left;
}
.titel {
    height: 4.5vh;
    padding: 0 0 1vh 0;
    text-align: center;
    font-family: sans-serif;
    font-size: 140%;
}

/* INDEX CONTENT */
#idea, #problem {
    color: #EDE7E3;
    background-color: #FFA62B;
    text-shadow: 2px 2px 8px #489FB5;
    text-align: center;
    text-decoration: underline 0.5;
    display: block;
    padding: 0;
    margin: 0 auto 0 auto;
    width: 80%;
    height: 10vh;
    border: 0.5vh solid #489FB5;
}
#idea:hover, #problem:hover {
    background-color: #F6C787;
    color: #16697A;
    text-decoration: underline;
    border-color: #FFA62B;
}
#idea p, #problem p {
    margin: 0;
    padding: 3vh 0 0 0;
    font-family: sans-serif;
    font-size: 160%;
}
#first p, #second p, #third p {
    padding: 0 3vh 0 3vh;
    margin: 1.2vh;
    text-align: center;
    color: #000000;
    font-family: sans-serif;
}
#first {
    background-color: #ffec86;
    border: 2px #1E6E99 ridge;
    box-sizing: border-box;
    border-radius: 1.5vh;
    width: 30vw;
    height: 5vh;
    margin: 0 1vw 0 1vw;
}
#second {
    background-color: #e1e1e1;
    border: 2px #1E6E99 ridge;
    box-sizing: border-box;
    border-radius: 1.5vh;
    width: fit-content;
    width: 30vw;
    height: 5vh;
    margin: 0 1vw 0 1vw;
}
#third {
    background-color: #e7c39d;
    border: 2px #1E6E99 ridge;
    box-sizing: border-box;
    border-radius: 1.5vh;
    width: 30vw;
    height: 5vh;
    margin: 0 1vw 0 1vw;
}
.winner p {
    text-align: center;
    font-family: cursive;
    font-size: 140%;
    padding: 3vh 10vw 1vh 10vw;
    width: 30vw;
    float: left;
    text-decoration: underline #ffd700;
}
#monthly-image {
    width: auto;
    height: 40vh;
    float: right;
}
#monthly-title {
    margin-top: 4vh;
}
#monthly-info {
    margin-top: 2vh;
    padding-top: 1vh;
    text-decoration: none;
    font-size: 100%;
}

/* FORM CONTENT */
.form-title {
    font-weight: bold;
    display: block;
    margin-bottom: 1vh;
    font-size: 150%;
    font-family: serif;
}
.form-field {
    width: 100%;
    font-size: 150%;
}
.form-sumbit>input {
    width: 20vw;
    height: 5vh;
}
.form-sumbit>input:hover {
    text-decoration: underline;
}

/* OTHER CONTENT */
#mild-title {
    font-weight: bolder;
    font-size: 120%;
}
#video {
    width: 50%;
    height: auto;
    display: block;
    float: right;
    margin: 0 auto 0 auto;
}
#video-title {
    font-weight: bolder;
    font-size: 120%;
    float: left;
    width: auto;
}
.overview-list>img {
    height: 30vh;
    width: 20vw;
    object-fit: cover;
    display: block;
    float: left;
    margin-right: 2vw;
    border-radius: 1vw;
}

/* MOBILE ADAPTION
@media only screen and (max-width: 600px){
    .header {
        height: 15vh;
    }
}

 */